<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title></title>
<style type="text/css">
footer {
  flex: 0 0 auto;
  display: flex;
  color: #ccc;
  margin: 1em;
  padding: 1em;
  width: 80%;
  border-top: 1px solid blue;
  justify-content: center;
}

</style>
</head>
<body>

	<footer class="container-fluid footer fixed-bottom" align="center" layout:fragment="footer">
		<div class="row">
			<div class="col-md-12">
				<p>Luis Matos 2022 © Todos os direitos reservados.</p>
			</div>
		</div>
	</footer>
	
</body>
</html>