<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title></title>
</head>
<body>

	<div layout:fragment="content">
		<div class="d-flex justify-content-center">
			<div style="display: flex; justify-content: center; align-items: center; height: 90vh">
				<h1>Ops... Ocorreu um erro na sua solicitação!</h1>
			</div>
		</div>
	</div>

</body>
</html>
